body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
  align-items: center;
  background-color: #171717;
}
.formWrapper {
  height: 65vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  position: top 50vh;
  align-items: center;
  justify-content: center;
  border: solid white 2px;
  border-radius: 25px;
  text-align: center;
  font-size: 5vw;
}
.welcomeLetter {
  text-align: center;
  line-height: 1.75em;
  padding: 0.65em;
  padding-bottom: 0.05em;
}
.name {
  border: none;
  background: none;
  border-bottom: solid white 1px;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 0;
  outline: none;
  color: white;
  font-family: inherit;
  text-align: center;
}

.pairs {
  margin-top: 5px;
  border: none;
  background: none;
  border-bottom: solid white 1px;
  font-size: 1.1rem;
  margin-top: 1.4em;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 0;
  outline: none;
  color: white;
  font-family: inherit;
  text-align: center;
}
.nextStep {
  font-family: inherit;
  color: white;
  background: none;
  display: block;
  padding: 0.4em;
  margin-top: 0.4em;
  font-size: 1.7rem;

  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: solid white 2px;
}

.title {
  font-size: 10vw;
  line-height: 1.25em;
  text-align: center;
}
.cardRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -2%;
  perspective: 1000000px;
}
.oneCard {
  display: block;
  margin-left: 2%;
  margin-bottom: 2%;
  min-width: 250px;
  min-height: 250px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: translateX(-10px);
}

.front {
  background-color: hsl(209, 87%, 53%);
  background-size: 250px 250px;
  position: absolute;
  min-width: 250px;
  min-height: 250px;
  backface-visibility: hidden;
  border: solid #d3d2d2 5px;
  border-radius: 10px;
}
.back {
  border: solid #d3d2d2 5px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 250px 250px;
  position: absolute;
  min-width: 250px;
  min-height: 250px;
  transform: rotateY(180deg);

  backface-visibility: hidden;
}

.oneCard.flipped {
  transform: rotateY(180deg);
}
.oneCard.flippedForever {
  transform: rotateY(180deg);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movesCounterName {
  font-size: 50px;
  margin-right: 30px;
}
.movesCounter {
  margin-top: 15px;
  font-size: 50px;
}
.finishedGame {
  font-size: 2.5rem;
  padding: 1em;
  line-height: 1.3em;
  text-align: center;
}
@media (min-width: 400px) {
  .title {
    font-size: 7vw;
  }
  .formWrapper {
    margin-top: 8vh;
    font-size: 3vw;
    max-width: 500px;
    padding: 0;
  }
  .welcomeLetter {
    margin-bottom: 10vh;
  }
  .name {
    margin-bottom: 1.5vh;
  }
  .pairs {
    margin-bottom: 1.5vh;
  }
}
@media (min-width: 700px) {
  .title {
    font-size: 7vw;
  }
  .formWrapper {
    font-size: 2vw;
    max-width: 500px;
  }
}
@media (min-width: 1000px) {
  .title {
    font-size: 5vw;
  }
  .formWrapper {
    font-size: 1.3vw;
    max-width: 500px;
  }
}
