
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
}
.cardRow{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: -2%;
    perspective: 1000000px;
}
.oneCard{
    display: block;
    margin-left: 2%;
    margin-bottom: 2%;
    min-width: 250px;
    min-height: 250px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front{
    background-color: #26F9AD;
    background-size: 250px 250px;
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    backface-visibility: hidden;
    border: solid #F92672  5px;
}
.back{
    /*background: url("./memoryPictures/banan.jpg");*/
    background-repeat: no-repeat;
    background-size: 250px 250px;
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    transform: rotateY( 180deg );
    backface-visibility: hidden;
}

.oneCard.flipped {
    transform: rotateY(180deg);
  }
  .oneCard.flippedForever{
      transform: rotateY(180deg);
  }